.container {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.padding--md {
  padding: 20px 80px 70px 80px;
  text-align: center;
}

.padding--sm {
  padding: 0 30px 0 30px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  margin-bottom: 0;
}

a {
  color: black;
  text-decoration: none;
}

.primary__button {
  color: white;
  text-decoration: none;
  font-weight: 500;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  padding: 15px 22px 15px 22px;
  border-radius: 25px;
  border: 0;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}
.primary__button:hover::after {
  opacity: 1;
}
.primary__button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background: linear-gradient(175deg, #ff88de, #ae80e5);
  transition: opacity 250ms;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  color: white;
}
footer span {
  font-size: 20px;
  font-family: "shrikhand", sans-serif;
  padding: 25px 0 25px 0;
}
footer div {
  display: flex;
  align-items: center;
}
footer div i {
  width: 14px;
  height: 14px;
  font-size: 14px;
}
footer div p {
  padding-left: 15px;
}
footer p {
  margin: 0;
  padding: 8px 0 8px 0;
}

.padding__footer {
  padding-bottom: 50px;
}

.header__home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__home span {
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.8);
}
.header__home img {
  max-width: 180px;
  height: auto;
  padding: 20px 0 20px 0;
}
.header__home .location {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.7);
}
.header__home .location__icon {
  font-size: 16px;
  padding-right: 18px;
}
.header__home .location p {
  font-weight: 500;
}

.header__menu {
  display: flex;
  align-items: center;
  position: relative;
}
.header__icon {
  font-size: 25px;
  position: absolute;
  padding-left: 20px;
}
.header__logo {
  width: 100%;
  text-align: center;
}
.header__logo img {
  max-width: 180px;
  height: auto;
  padding: 20px 0 20px 0;
}

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
}
.explorer p {
  font-size: 18px;
  padding-bottom: 15px;
}

.functioning {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 40px 30px;
}
.functioning h2 {
  margin-bottom: 30px;
}
.functioning__order {
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 25px;
  margin-left: 13px;
  padding: 10px 0 10px 0;
  background-color: #f8f8f8;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms;
  position: relative;
  z-index: 1;
}
.functioning__order:hover::after {
  opacity: 1;
}
.functioning__order:hover i {
  color: #9356DC;
}
.functioning__order::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background-color: rgba(147, 86, 220, 0.1);
  transition: opacity 250ms;
  border-radius: 20px;
}
.functioning__order span {
  border: 1px #9356DC solid;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  color: white;
  background-color: #9356DC;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -13px;
}
.functioning__order .fa-mobile-screen-button, .functioning__order .fa-store, .functioning__order .fa-list-ul {
  color: grey;
  font-size: 20px;
  margin-right: 35px;
}
.functioning__order p {
  font-weight: 600;
}
.restaurant {
  background-color: #f8f8f8;
  padding-top: 30px;
  padding-bottom: 70px;
}
.restaurant__carte {
  display: flex;
  flex-direction: column;
  height: 340px;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 18px;
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.restaurant__carte img {
  height: 74%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.restaurant__new {
  position: absolute;
  background-color: #99E2D0;
  color: #1b6150;
  border-radius: 2px;
  right: 15px;
  top: 15px;
  padding: 8px 11px 5px 11px;
  font-weight: 500;
}
.restaurant__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px 4.5px 18px;
}
.restaurant__name h3 {
  margin: 15px 0 9px 0;
}
.restaurant__name p {
  margin: 0 0 12px 0;
  font-size: 18px;
}

.favorite-heart {
  position: relative;
  width: 31px;
  height: 31px;
  display: block;
  cursor: pointer;
}
.favorite-heart i:nth-child(2) {
  background: linear-gradient(20deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
  transition: transform 400ms;
}
.favorite-heart:hover i:nth-child(2) {
  transform: scale(1);
}

.banner {
  z-index: -1;
}
.banner img {
  width: 100%;
  object-fit: cover;
}

.carte {
  position: relative;
  z-index: 1;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 50px 50px 0 0;
}
.carte__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 25px 0;
}
.carte__title h1 {
  font-family: "shrikhand", sans-serif;
  font-weight: 500;
}
.carte__enter span {
  border-bottom: 3px #99E2D0 solid;
  padding-bottom: 3px;
}
.carte__dishes {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 8px 20px 8px 10px;
  animation: appear 1.5s;
  animation-fill-mode: both;
}
.carte__dishes p {
  margin: 8px 0 5px 0;
}
.carte__dishes:nth-child(1) {
  animation-delay: 150ms;
}
.carte__dishes:nth-child(2) {
  animation-delay: 300ms;
}
.carte__dishes:nth-child(3) {
  animation-delay: 450ms;
}
.carte__dishes:nth-child(4) {
  animation-delay: 600ms;
}
.carte__dishes:nth-child(5) {
  animation-delay: 750ms;
}
.carte__dishes:nth-child(6) {
  animation-delay: 900ms;
}
.carte__dishes:nth-child(7) {
  animation-delay: 1050ms;
}
.carte__dishes:nth-child(8) {
  animation-delay: 1200ms;
}
.carte__dishes:nth-child(9) {
  animation-delay: 1350ms;
}
.carte__dishes:nth-child(10) {
  animation-delay: 1500ms;
}
.carte__dishes:nth-child(11) {
  animation-delay: 1650ms;
}
.carte__dishes:nth-child(12) {
  animation-delay: 1800ms;
}
.carte__name h3 {
  margin: 5px 0 5px 0;
}
.carte__padding {
  margin-bottom: 50px;
}
.carte__button {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.primary__button {
  padding: 15px 50px 15px 50px;
}

/*Animation de la page d'accueil*/
.loading-spinner {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  animation: disappear 750ms 3s forwards;
}
.loading-spinner::after {
  content: "";
  height: 80px;
  width: 80px;
  border-top: 5px #9356DC solid;
  border-right: 5px transparent solid;
  border-radius: 50%;
  animation: spinner 1s ease-in-out infinite;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Animations des pages de restaurants*/
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
