.container {
    width: 100%;
    min-width: 230px;
    @include tablet-only {
        max-width: 1980px;
        margin: auto;
    }
}

* {
    box-sizing: border-box;
}

.padding--md {
    padding: 20px 45px 70px 45px;
    text-align: center;
}

.padding--sm {
    padding: 0 15px 0 15px;
}