.banner {
    z-index: -1;
    img {
        width: 100%;
        object-fit: cover;
        height: 450px;
        @include desktop-only {
            height: 660px;
        }
    }
}

.carte {
    position: relative;
    z-index: 1;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    @include background-section;
    border-radius: 50px 50px 0 0;
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0 25px 0;
        h1 {
            font-family: 'shrikhand', sans-serif;
            font-weight: 500;
        }
    }
    &__platter {
        @include desktop-only {
            display: flex;
            justify-content: space-between;
        }
        &--tablet {
            @include tablet-only {
                display: flex;
                justify-content: space-between;
            }
            @include desktop-only {
                width: 66%;
            }
        }
        &--dessert {
            @include tablet-only {
                display: flex;
                justify-content: center;
            }
            @include desktop-only {
                width: 33%;
            }
        }
    }
    &__category {
        @include tablet-only {
            width: 48%;
        }
        @include desktop-only {
            width: 49%;
        }
    }
    &__dessert {
        @include desktop-only {
            width: 97%;
        }
    }
    &__subtitle {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        span {
            &:nth-child(2) {
                border-top: 3px solid $color-tertiary;
                width: 40px;
                height: 3px;
                margin-top: 4px;
            }
        }
    }
    
    &__dishes {
        display: flex;
        justify-content: space-between;
        flex-shrink: 0;
        flex-grow: 0;
        background-color: white;
        margin-bottom: 15px;
        border-radius: 15px;
        box-shadow: 0px 4px 15px rgba($color: black, $alpha: 0.15);
        overflow: hidden;
        p {
            margin-top: 8px;
            margin-bottom: 5px;
        }
        animation: appear 1.5s;
        animation-fill-mode: both;
        &--4 {
            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    animation-delay: 150ms * $i;
                }
            }
        }
        &--3 {
            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    animation-delay: 150ms * $i;
                }
            }
        }
        &:hover {
            .carte__price {
                margin-right: 0;
            }
            i {
                animation: check-spin 0.5s ease-in-out;
            }
        }
    }
    &__price {
        display: flex;
        font-weight: 900;
        align-items: flex-end;
        margin-left: 20px;
        margin-right: -80px;
        min-width: 105px;
        transition: margin-right 0.5s;
        p {
            padding: 0 20px 5px 0;
        }
    }
    &__check {
        background-color: rgba($color: $color-tertiary, $alpha: 0.9);
        width: 80px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            font-size: 23px;
            color: white;
        }
    }
    &__name {
        width: 80%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        h3 {
            margin: 5px 0 5px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            text-overflow: ellipsis;
            overflow: hidden;
        }
        padding: 10px 0 10px 10px;
        flex: 1;
    }
    &__padding {
        margin-bottom: 50px;
    }
    &__button {
        display: flex;
        justify-content: center;
        margin-bottom: 90px;
        @include desktop-only {
            margin-bottom: 35px;
        }
    }
    .primary__button {
        padding: 15px 50px 15px 50px;
    }
}

