.banner {
    z-index: -1;
    img {
        width: 100%;
        object-fit: cover;
    }
}

.carte {
    position: relative;
    z-index: 1;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    @include background-section;
    border-radius: 50px 50px 0 0;
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0 25px 0;
        h1 {
            font-family: 'shrikhand', sans-serif;
            font-weight: 500;
        }
    }
    &__enter {
        span {
            border-bottom: 3px $color-tertiary solid;
            padding-bottom: 3px;
        }
    }

    &__dishes {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background-color: white;
        margin-bottom: 15px;
        border-radius: 15px;
        box-shadow: 0px 4px 15px rgba($color: black, $alpha: 0.15);
        padding: 8px 20px 8px 10px;
        p {
            margin: 8px 0 5px 0;
        }
        animation: appear 1.5s;
        animation-fill-mode: both;
        @for $i from 1 through 12 {
            &:nth-child(#{$i}) {
                animation-delay: 150ms * $i;
            }
        }
    }
    &__name {
        h3 {
            margin: 5px 0 5px 0;
        }
    }
    &__padding {
        margin-bottom: 50px;
    }
    &__button {
        display: flex;
        justify-content: center;
        margin-bottom: 90px;
    }
}

.primary__button {
    padding: 15px 50px 15px 50px;
}