.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &__logo {
        font-size: 35px;
        height: auto;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        width: 100%;
        box-shadow: 2px 3px 4px rgba($color: black, $alpha: 0.2);
        z-index: 2;
        @include tablet-only {
            padding: 15px 0 15px 0;
        }
    }
    &__location {
        z-index: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lighten($color: $background-color, $amount: 40%);
        color: rgba($color: black, $alpha: 0.7);
        i {
            font-size: 18px;
            padding-right: 18px;
        }
        p {
            font-weight: 600;
            font-size: 18px;
        }
    }
    &__icon {
        z-index: 3;
        position: absolute;
        font-size: 26px;
        left: 25px;
        top: 18px;
        @include tablet-only {
            top: 22px;
        }
    }
}